<?xml version="1.0" encoding="utf-8"?>
<!--
  Weitere Informationen zum Konfigurieren der ASP.NET-Anwendung finden Sie unter
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.net>
    <mailSettings>
      <smtp deliveryMethod="Network" from="">
        <network
          host="smtp-mail.outlook.com"
          port="587"
          userName=""
          password=""
        />
      </smtp>
    </mailSettings>
  </system.net>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />


  </system.web>
  <system.webServer>
    <httpErrors errorMode="Custom" defaultResponseMode="File">
      <remove statusCode="403" subStatusCode="-1" />
      <error statusCode="403" path="ErrorPages\403Error.html" responseMode="File" />
      <remove statusCode="404" subStatusCode="-1" />
      <error statusCode="404" path="ErrorPages\404Error.html" responseMode="File" />
      <remove statusCode="500" subStatusCode="-1" />
      <error statusCode="500" path="ErrorPages\500Error.html" responseMode="File" />
    </httpErrors>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.WindowsAzure.Storage" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.1.0.4" newVersion="2.1.0.4" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <appSettings>
    <add key="SetPasswortUrl" value="http://localhost/SetNewPasswort.aspx"/>
  </appSettings>
</configuration>