@page { size:21.0cm 29.7cm; margin-top:0cm; margin-bottom:1cm;   }
@page :left { margin-left:2cm; margin-right:1cm  }
@page :right { margin-left:2cm; margin-right:1cm  }

@media print
{
    #tbTimetable tr td{
    border:none;
}

.table.bordered tr td{
    border:thin solid black;
}
}