/*#region Media Query Elemente*/
.maxwidth-xs {
    width:initial;
}
.maxwidth-sm {
    width:initial;
}
.maxwidth-md {
    width:initial;
}
@media(max-width:767px){
    .maxwidth-xs {
        width:100% !important;
        max-width:none !important;
    }
}
@media(max-width:991px){
    .maxwidth-sm {
    width:100% !important;
    max-width:none !important;
    }
}
@media(max-width:1119px){
    .maxwidth-md {
    width:100% !important;
    max-width:none !important;
    }
}
/*#endregion RegionName*/

body {
    padding-top:50px;
    max-width:none;
}

#UserNameInput
{
    width:512px;
}
#PasswordInput
{
    width:512px;
}

.tableStunde
{
    width:10%;
}

.tableTag
{
    width:18%;
    min-width:100px;
}
.tableTag a
{
    display:none;
    float:right;
}
.tableTag:hover
{
    background-color:#f5f5f5;
}
.tableTag:hover a
{
    display:block;
}
.tableTag:hover 
{
    background-color:#f5f5f5;
}
.tableCenter
{
    text-align:center;
}

.LessonerControlTextBox
{
    max-width:128px;
    cursor:default !important;
}
.LessonerButtonLeft, .LessonerButtonRight {
    background-color:#ffffff !important;
    display:table-cell;
    width:39px;
}
.LessonerButtonLeft
{
    border-right:none;
    border-top-right-radius:0;
    border-bottom-right-radius:0;
    
}
.LessonerButtonRight
{
    border-left:none;
    border-top-left-radius:0;
    border-bottom-left-radius:0;
}
#ErrorText
{
    font-weight:normal;
}
.LessonerText
{
    line-height:5px;
}
.LessonerText:first-child
{
    margin-top:0px;
}
.LessonerText:last-child
{
    margin-bottom:0px;
}
.LoginDropDown
{
    color:#fff;
    border-color:#111111;
}
.NavbarDropDown:hover, .NavbarDropDown:focus, .NavbarDropDown:active, .NavbarDropDown.active
{
    border-color:#000 !important; 
    background-color:#000 !important;
    color:#fff;
}
.LoginElement
{
    margin-left:4px;
    margin-right:4px;
}
.LoginElement:first-child
{
    margin-bottom:4px;
}
.LoginElement:last-child
{
    margin-top:4px;
}

.LessonEditButton
{
    background:none;
    border:none;
    color: #000000;
    text-decoration: none;
    cursor: pointer;
    opacity: 0.2;
}
.LessonEditButton:hover
{
    color:#000000;
    opacity: 0.5;
}
.LessonCell a
{
    display:none;
    color:#333;
}

.LessonCell:hover a
{
    display:block;
    text-decoration:none;
}
.LessonerDayFree
{
    font-style:italic;
    text-align:center;
}
.LessonCell:hover
{
    background-color:#f5f5f5;
}
.AbortModal
{
    z-index:9040 !important; 
}
.AbortModalDialog
{
    margin-top:50px;
    width:20%;
    min-width:344px;
    z-index:9050 !important;
}
.UpDownGlyph 
{
    position:relative;
    font-size:12px;
    text-align:center;
    width:12px !important;
    opacity: 0.2;
    color:#000;
}
.UpDownGlyph:hover 
{
    opacity: 0.5;
    color:#000;
}
.UpDownButtonContainer 
{
    padding-top:0px;
    padding-bottom:0px;
    padding-left:2px;
    padding-right:4px;
}
.LessonerNumericBox {
    cursor:default !important;
    text-align:right;
    height:34px !important;
}
#LessonInfoText:hover
{
    cursor:default !important;
}
.Control-Margin-Bottom
{
    margin-bottom:17px;
}
