body {
    padding-top:50px;
}

#UserNameInput
{
    width:512px;
}
#PasswordInput
{
    width:512px;
}

.tableStunde
{
    width:10%;
}

.tableTag
{
    width:18%;
}

.tableCenter
{
    text-align:center;
}

.LessonerControlTextBox
{
    max-width:128px;
    cursor:default !important;
}

.LessonerButtonLeft
{
    border-right:none;
    border-top-right-radius:0;
    border-bottom-right-radius:0;
}
.LessonerButtonRight
{
    border-left:none;
    border-top-left-radius:0;
    border-bottom-left-radius:0;
}
#ErrorText
{
    font-weight:normal;
}
.LessonerText
{
    line-height:5px;
}
.LessonerText:first-child
{
    margin-top:0px;
}
.LessonerText:last-child
{
    margin-bottom:0px;
}
.NavbarDropDown
{
    color:#fff;
    border-color:#111111;
}
.NavbarDropDown:hover, .NavbarDropDown:focus, .NavbarDropDown:active, .NavbarDropDown.active
{
    border-color:#000 !important; 
    background-color:#000 !important;
    color:#fff;
}
.LoginElement
{
    margin-left:4px;
    margin-right:4px;
}
.LoginElement:first-child
{
    margin-bottom:4px;
}
.LoginElement:last-child
{
    margin-top:4px;
}